.avatar {
	height: 14rem;
	width: 14rem;
	
	&--about{
		display: block;
		margin: 0 auto;
		border-radius: 12rem;
		height: 30rem;
		width: 30rem;
		object-fit: cover;

		&:hover {
			box-shadow: 0 1rem 1rem .5rem rgba($color-black,0.20);
				}
}

}

