.avatar {
	height: 14rem;
	width: 14rem;
	
	&--about{
		display: block;
		margin: 0 auto;
		border-radius: 12rem;
		height: 30rem;
		width: 30rem;
		object-fit: cover;
}
&:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba($color-black,.2);
        }
}