.nav-style {
    padding: .8rem;
}
.navbar-brand {
    padding: .9rem;
    font-size: 2rem;
     color: $color-white;
}

.btn--nav {
    font-size: 1.6rem;
    padding: .9rem;
    margin-right: .9rem;
}