$color-primary-blue: #1f6ab1;

$color-primary-blue-light: #A5CBEF;

$color-primary-blue-dark: #144370;

$color-grey-dark: #777;

$color-blue-gray: #2e3d49;

$color-grey-light: #8a95a0;

$color-white: #fff;

$color-white-dark: #ddd6d6;

$color-black: #000;

$color-aqua-blue: #076585;


