
$color-primary-pega: #1F2555;

$color-primary-pega-light: #344780;

$color-primary-pega-dark: #0f1440;

$color-pega-grey-dark: #777;

$color-pega-blue-gray: #2e3d49;

$color-pega-grey-light: #8a95a0;

$color-pega-aqua-blue: #179595;

$color-pega-aqua: #09A0A4;

$color-white: #fff;

$color-white-dark: #f7f4f4;

$color-black: #000;

$color-pega-yellow: #FFCC4C;