.social-icon span {
    display: inline-block;
    
    //color: $color-grey-dark;
    font-size: 4rem;
    margin: 0 2rem .5rem 2rem;
  }
.social-icon:hover {
    
            transition: all 0.3s ease;
            box-shadow: 1.2rem 1.5rem 2rem 0 rgba($color-blue-gray,0.15);
            color: rgba(
                $color-primary-blue, .6);
}

.skills-progress:hover {
    transition: all 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0 1rem 2rem rgba($color-black,.2);
        }
        
.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1.5rem;
    overflow: hidden;
    font-size: 1rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.about {
    font-size: 1.6rem;
}

.nav-style {
    background-image:linear-gradient(to right bottom, rgba($color-primary-blue, 0.8), rgba($color-primary-blue-light, 0.8));
}

.section-about {
    padding: 2rem;
    color: $color-white;
    background-image: linear-gradient(to right bottom, rgba($color-primary-blue-light, 0.8), rgba($color-primary-blue, 0.8)), url(../img/code.jpg); 
    background-size: cover;
    margin-top: 10rem;

    transform: skewY(-7deg);

    & > * {
            transform: skewY(7deg);
    }
}