.card--resume {
    background-color: $color-white;
    font-size: 1.4rem;
    width: 100%;
    height: auto;
     &--img {
    height: 30%;
    width: 100%;
    object-fit: cover;
}
    
    &:hover {
         transform: translateY(-.3rem);
box-shadow: 0 1rem 2rem rgba($color-black,.2);  
    }
    
}