@import "~bootstrap/scss/bootstrap.scss";
/* 
globals
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #777;
}



/* 
Navbar
*/
.navbar-brand {
     color: #fff;
}


/* 
font-awesome icons
*/
.fab {
     background: -webkit-linear-gradient(#de6161, #2657eb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* 
header-home page
*/
.header {
    height: 95vh;
    background-image:linear-gradient(to right bottom, rgba(31,106,177, 0.8), rgba(165,203,239, 0.8)), url("../img/b-w-bridge.jpg"); 
    background-size: cover;
    background-position: top;
    position: relative;

   // clip-path: polygon(0 0, 100% 0, 100%  90%, 0 100%);

    
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
   
}

.text-box {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        backface-visibility: hidden;
    text-align: center;
}

.heading-primary {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 1em;
}
.heading-primary-main {
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .5rem;
    animation: moveInLeft 1s ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: .5em;
    font-weight: 700;
    letter-spacing: .5rem;
    animation: moveInRight 1s ease-out;
}

.btn-white {
    border-radius: 100px;
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    color: #777;
}

/*
end of header home page
*/

/*
animations
*/

@keyframes moveInLeft {
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }
    80% {
        transform: translateX(10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px);
    }
    80% {
        transform: translateX(-10px);
    }
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.btn:link, 
.btn:visited {
    display: inline-block;
    transition: all .2s;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.projectCard:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);            
        }
.avatar:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
        }
.skills-progress:hover {
    transition: all 0.3s ease;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0,0,0,.2);
        }
        
/*
end of animations
*/

/* Title */
.section-title {
  text-align: center;
  margin-bottom: 4rem;
}
.section-title h4 {
  font-size: 2rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.section-title div {
  width: 5rem;
  height: 5px;
  margin: 0 auto;
  background: #fff;
}
/* end of Title */

/* services */
.services {
width: 100%;
padding: 5rem 0;
object-fit: cover;
background-color: #fff;
text-align: center;
}
.services-center {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.service span {
  display: inline-block;
  color: #708090;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}
.services h6 {
  letter-spacing: 3px;
  text-transform: capitalize;
}
.services p {
  width: 80%;
  margin: 0 auto;
}
@media screen and (min-width: 992px) {
  .services-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .services p {
    width: 100%;
  }
}
/*end of services */


/* projects */
.projects {
width: 100%;
padding: 3rem 0;
object-fit: cover;
background-color: #fff;
text-align: center;
}
.projects-center {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
.projects span {
  display: inline-block;
  color: #708090;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.projects p {
  width: 80%;
  margin: 0 auto;
}

@media screen and (min-width: 992px) {
    .projects-center {
  width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 50px;
}
  .projects-center {
    width: 95vw;
    max-width: 1170px;
  }
}

@media screen and (min-width: 1200px) {
  .projects p {
    width: 100%;
  }
}
/*end of projects */

       
.card-img {
    object-fit: scale;
}  

.social-icon:hover {
    
            transition: all 0.3s ease;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
}

@media(max-width:767px) {
    .card-img {
    width: 100%;
	max-height: 200px;
}  
}

.footer-sec, .projects-sec, .contact-sec, .about-sec{
    
    background: #fff;
}


ul {
  list-style-type: none;
 
}



.resume-header {
    background-image:linear-gradient(to right bottom, rgba(7,101,133, 0.8), rgba(255,255,255, 0.8));
    padding-top: 50px;
    padding-bottom: 50px;
    background-size: cover;

    color: #f8f8f8;
    
}

.resume-title {
    color: #fff;
    text-transform: uppercase;

    backface-visibility: hidden;
    margin-bottom: 1rem;
}
.heading-resume-main {
    display: block;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: .3em;
    animation: moveInLeft 1s ease-out;
}

.heading-resume-sub {
    display: block;
    font-size: 1em;
    font-weight: 700;
    letter-spacing: .3em;
    animation: moveInRight 1s ease-out;
}

.btn-resume {
    display: block;
    border-radius: 100px;
    background-color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    margin-right: 10px;
    color: #777;
}



@media(max-width:1199px) {
    .card-img {
    width: 100%;
	max-height: 200px;
    object-fit: scale;
} 
.projectCard{
    width: 100%;
    }
}
